.minecraft/*
.minecraft/**


# Mods Folder
!.minecraft/mods/
.minecraft/mods/*

# Mods
!.minecraft/mods/3dskinlayers-fabric-1.5.4-mc1.20.1.jar
!.minecraft/mods/Ad-Astra-Giselle-Addon-fabric-1.20.1-5.6.jar
!.minecraft/mods/advancednetherite-fabric-2.0.2-1.20.1.jar
!.minecraft/mods/adventurez-1.4.20.jar
!.minecraft/mods/ad_astra-fabric-1.20.1-1.15.4.jar
!.minecraft/mods/ae2-emi-crafting-1.3.1.jar
!.minecraft/mods/ae2wtlib-15.1.3-fabric.jar
!.minecraft/mods/alloy-forgery-2.1.1+1.20.jar
!.minecraft/mods/allthetrims-3.4.2-fabric+1.20.1.jar
!.minecraft/mods/almostunified-fabric-1.20.1-0.7.2.jar
!.minecraft/mods/alternate-current-mc1.20-1.7.0.jar
!.minecraft/mods/AmbientSounds_FABRIC_v5.3.5_mc1.20.1.jar
!.minecraft/mods/amecs-1.3.10+mc.1.20.1.jar
!.minecraft/mods/amendments-1.20-1.1.18-fabric.jar
!.minecraft/mods/amendments-1.20-1.2.8-fabric.jar
!.minecraft/mods/animal_feeding_trough-1.0.3+1.20.1.jar
!.minecraft/mods/Animation_Overhaul-fabric-1.20.x-1.2.1.jar
!.minecraft/mods/appleskin-fabric-mc1.20.1-2.5.1.jar
!.minecraft/mods/appliedenergistics2-fabric-15.2.0.jar
!.minecraft/mods/Aquamirae 6.jar
!.minecraft/mods/archers-1.0.6+1.20.1.jar
!.minecraft/mods/architectury-9.2.14-fabric.jar
!.minecraft/mods/archon-0.6.0.jar
!.minecraft/mods/artifacts-fabric-9.5.5.jar
!.minecraft/mods/ash_api-fabric-3.0.2+1.20.1.jar
!.minecraft/mods/athena-fabric-1.20.1-3.1.1.jar
!.minecraft/mods/AttributeFix-Fabric-1.20.1-21.0.4.jar
!.minecraft/mods/autotag-2.0.2+1.20.jar
!.minecraft/mods/auudio_fabric_1.0.3_MC_1.20.jar
!.minecraft/mods/axolotl-item-fix-1.1.7.jar
!.minecraft/mods/azurelib-fabric-1.20.1-2.0.6.jar
!.minecraft/mods/azurelibarmor-fabric-1.20.1-2.0.0.jar
!.minecraft/mods/BadOptimizations-2.1.0.jar
!.minecraft/mods/badpackets-fabric-0.4.3.jar
!.minecraft/mods/balm-fabric-1.20.1-7.1.4.jar
!.minecraft/mods/BarteringStation-v8.0.0-1.20.1-Fabric.jar
!.minecraft/mods/bclib-3.0.14.jar
!.minecraft/mods/better-end-4.0.11.jar
!.minecraft/mods/better-nether-9.0.10.jar
!.minecraft/mods/BetterAdvancements-Fabric-1.20.1-0.3.2.161.jar
!.minecraft/mods/betterarcheology-1.1.0.jar
!.minecraft/mods/betterbeds-1.3.0-1.19.3.jar
!.minecraft/mods/betterchunkloading-fabric-1.20.1-2.3.jar
!.minecraft/mods/bettercombat-fabric-1.8.3+1.20.1.jar
!.minecraft/mods/BetterCompatibilityChecker-fabric-4.0.8+mc1.20.1.jar
!.minecraft/mods/betterdays-1.20.1-3.1.0.6-FABRIC.jar
!.minecraft/mods/betterfpsdist-fabric-1.20.1-4.0.jar
!.minecraft/mods/betterstats-3.5.2+fabric-1.20.1.jar
!.minecraft/mods/betterthanmending-1.3.0.jar
!.minecraft/mods/BetterThirdPerson-Fabric-1.20-1.9.0.jar
!.minecraft/mods/bewitchment-1.20-8.jar
!.minecraft/mods/Block Swap-fabric-1.20.1-5.0.0.0.jar
!.minecraft/mods/BlockRunner-v8.0.2-1.20.1-Fabric.jar
!.minecraft/mods/blur-3.1.0.jar
!.minecraft/mods/Boat-Item-View-Fabric-1.20.1-0.0.5.jar
!.minecraft/mods/BoatBreakFix-Universal-1.0.11.jar
!.minecraft/mods/bobby-5.0.1.jar
!.minecraft/mods/BOMD-1.7.5-1.20.1.jar
!.minecraft/mods/Bookshelf-Fabric-1.20.1-20.1.6.jar
!.minecraft/mods/Botania-1.20.1-443-FABRIC.jar
!.minecraft/mods/botarium-fabric-1.20.1-2.3.3.jar
!.minecraft/mods/BuildGuide-1.20-0.4.0.jar
!.minecraft/mods/BuildingWands-mc1.20.1-2.6.8-release-fabric.jar
!.minecraft/mods/caracal-1.20-2.3.3.jar
!.minecraft/mods/cardinal-components-api-5.2.2.jar
!.minecraft/mods/carryon-fabric-1.20.1-2.1.2.7.jar
!.minecraft/mods/cat_jam-fabric-mc1.20-1.2.1.jar
!.minecraft/mods/cc-tweaked-1.20.1-fabric-1.108.4.jar
!.minecraft/mods/chat_heads-0.10.26-fabric-1.20.jar
!.minecraft/mods/chefs-delight-1.0.3-fabric-1.20.1.jar
!.minecraft/mods/cherishedworlds-fabric-6.1.3+1.20.1.jar
!.minecraft/mods/Chipped-fabric-1.20.1-3.0.4.jar
!.minecraft/mods/CIA-1.1.0-Fabric-MC1.20.1.jar
!.minecraft/mods/CITResewn-1.1.3+1.20.jar
!.minecraft/mods/clickadv-fabric-1.20.1-3.6.jar
!.minecraft/mods/cloth-config-11.1.106-fabric.jar
!.minecraft/mods/Clumps-fabric-1.20.1-12.0.0.3.jar
!.minecraft/mods/Cobbledex-1.0.0.jar
!.minecraft/mods/cobblemon-capturexp-1.5-fabric-1.0.1.jar
!.minecraft/mods/Cobblemon-fabric-1.5.2+1.20.1.jar
!.minecraft/mods/cobblemonintegrations-1.20.1-1.0.6.jar
!.minecraft/mods/CobblemonTrainers-1.1.11+1.5.2-fabric.jar
!.minecraft/mods/cobblemon_quests--1.20.1.jar
!.minecraft/mods/cobblemounts-1.3.1.jar
!.minecraft/mods/Cobblepedia-Fabric-0.6.6.jar
!.minecraft/mods/collective-1.20.1-7.7.jar
!.minecraft/mods/combatroll-fabric-1.3.0+1.20.1.jar
!.minecraft/mods/comforts-fabric-6.3.4+1.20.1.jar
!.minecraft/mods/connectivity-fabric-1.20.1-4.8.jar
!.minecraft/mods/convenientdecor-0.3.0.jar
!.minecraft/mods/Copycats-fabric.1.20.1-1.2.6.jar
!.minecraft/mods/coroutil-fabric-1.20.1-1.3.5.jar
!.minecraft/mods/CraterLib-fabric-1.20-1.0.2.jar
!.minecraft/mods/create-fabric-0.5.1-f-build.1417+mc1.20.1.jar
!.minecraft/mods/createaddition-fabric+1.20.1-1.2.3.jar
!.minecraft/mods/create_jetpack-fabric-4.2.0.jar
!.minecraft/mods/Create_Questing-FABRIC-1.20.1-1.0.0.jar
!.minecraft/mods/CreativeCore_FABRIC_v2.11.10_mc1.20.1.jar
!.minecraft/mods/creeperoverhaul-3.0.1-fabric.jar
!.minecraft/mods/cristellib-1.1.5-fabric.jar
!.minecraft/mods/Croptopia-1.20.1-FABRIC-2.3.2.jar
!.minecraft/mods/ctov-3.3.6.jar
!.minecraft/mods/cupboard-fabric-1.20.1-2.1.jar
!.minecraft/mods/DarkPaintings-Fabric-1.20.1-17.0.4.jar
!.minecraft/mods/DarkUtilities-Fabric-1.20.1-17.0.3.jar
!.minecraft/mods/dawn-5.0.0.jar
!.minecraft/mods/Debugify-1.20.1+2.0.jar
!.minecraft/mods/Decorative Blocks-fabric-1.20.1-4.0.3.jar
!.minecraft/mods/deeperdarker-fabric-1.20-1.2.3.jar
!.minecraft/mods/derelict-1.0.1.jar
!.minecraft/mods/DEUF_Refabricated-MC1.20.1-1.1.0.jar
!.minecraft/mods/dimensionalsyncfixes-fabric-1.20.1-0.0.1.jar
!.minecraft/mods/DisableCustomWorldsAdvice-4.1.jar
!.minecraft/mods/do-a-barrel-roll-3.3.7+1.20-fabric.jar
!.minecraft/mods/doapi-1.2.8-fabric.jar
!.minecraft/mods/doubledoors-1.20.1-5.1.jar
!.minecraft/mods/dragonfight-fabric-1.20.1-4.1.jar
!.minecraft/mods/drippyloadingscreen_fabric_3.0.2_MC_1.20.1.jar
!.minecraft/mods/dummmmmmy-1.20-1.8.10-fabric.jar
!.minecraft/mods/dungeons-and-taverns-3.0.3.jar
!.minecraft/mods/DungeonsArise-1.20.1-2.1.57-fabric-release.jar
!.minecraft/mods/dynamictrim-1.3.2-fabric+1.20.1.jar
!.minecraft/mods/eating-animation-1.20+1.9.5-CMDfix.jar
!.minecraft/mods/Eldritch_End-FABRIC-MC1.20.1-0.2.30.jar
!.minecraft/mods/emi-1.1.6+1.20.1+fabric.jar
!.minecraft/mods/emiffect-fabric-1.1.2+mc1.20.1.jar
!.minecraft/mods/emitrades-fabric-1.2.1+mc1.20.1.jar
!.minecraft/mods/emi_enchanting-0.1.0+1.20.1.jar
!.minecraft/mods/emi_loot-0.6.6+1.20.1.jar
!.minecraft/mods/emotecraft-for-MC1.20.1-2.2.7-b.build.50-fabric.jar
!.minecraft/mods/ends_delight-fabric-1.20.1-1.0.1.jar
!.minecraft/mods/entityculling-fabric-1.6.2-mc1.20.1.jar
!.minecraft/mods/entity_model_features_fabric_1.20.1-1.1.0.jar
!.minecraft/mods/entity_texture_features_fabric_1.20.1-4.6.1.jar
!.minecraft/mods/EpheroLib-1.20.1-FABRIC-1.2.0.jar
!.minecraft/mods/Estrogen-4.2.7+1.20.1-fabric.jar
!.minecraft/mods/EuphoriaPatcher-0.3.0-fabric.jar
!.minecraft/mods/expandeddelight-0.3.0.2.jar
!.minecraft/mods/explorations-fabric-1.20.1-1.5.2.jar
!.minecraft/mods/ExplorersCompass-1.20.1-2.2.3-fabric.jar
!.minecraft/mods/explorify-v1.3.0-mc1.20.jar
!.minecraft/mods/extra-mod-integrations-0.4.5+1.20.1.jar
!.minecraft/mods/fabric-api-0.92.1+1.20.1.jar
!.minecraft/mods/fabric-end-remastered-5.2.3.jar
!.minecraft/mods/fabric-language-kotlin-1.10.14+kotlin.1.9.20.jar
!.minecraft/mods/fabric-seasons-2.3+1.20.jar
!.minecraft/mods/fabric-seasons-croptopia-2.2.2-compat-1.0.jar
!.minecraft/mods/fabric-seasons-delight-1.3.9-compat-1.0.jar
!.minecraft/mods/fabric-seasons-extras-1.2-BETA+1.20.jar
!.minecraft/mods/fakerlib-0.1.3.jar
!.minecraft/mods/fallingleaves-1.15.4+1.20.1.jar
!.minecraft/mods/fancymenu_fabric_3.2.3_MC_1.20.1.jar
!.minecraft/mods/FarmersDelight-1.20.1-2.1.1+refabricated.jar
!.minecraft/mods/farmersknives-3.2.jar
!.minecraft/mods/fast-ip-ping-mc1.20.4-fabric-v1.0.1.jar
!.minecraft/mods/fastpaintings-1.20-1.2.4-fabric.jar
!.minecraft/mods/ferritecore-6.0.1-fabric.jar
!.minecraft/mods/fightorflight-fabric-0.5.3.jar
!.minecraft/mods/fishontheline-1.20.1-3.1.jar
!.minecraft/mods/fish_of_thieves-mc1.20.1-v3.0.2-fabric.jar
!.minecraft/mods/ForgeConfigAPIPort-v8.0.0-1.20.1-Fabric.jar
!.minecraft/mods/ForgeConfigScreens-v8.0.2-1.20.1-Fabric.jar
!.minecraft/mods/friendsandfoes-beekeeperhut-fabric-mc1.20-1.3.0.jar
!.minecraft/mods/friendsandfoes-fabric-mc1.20.1-1.9.8.jar
!.minecraft/mods/friendsandfoes-flowerymooblooms-fabric-mc1.20-1.1.0.jar
!.minecraft/mods/frostiful-1.0.8.jar
!.minecraft/mods/ftb-library-fabric-2001.1.4.jar
!.minecraft/mods/ftb-quests-fabric-2001.2.0.jar
!.minecraft/mods/ftb-teams-fabric-2001.1.4.jar
!.minecraft/mods/geckolib-fabric-1.20.1-4.2.4.jar
!.minecraft/mods/GeckoLibIrisCompat-Fabric-1.0.0.jar
!.minecraft/mods/geophilic-v2.1.0-mc1.20u1.20.2.jar
!.minecraft/mods/goated-1.20-1.3.4-fabric.jar
!.minecraft/mods/gpumemleakfix-fabric-1.20.1-1.8.jar
!.minecraft/mods/Grass_Overhaul-Fabric-23.06.09_MC1.20.jar
!.minecraft/mods/handcrafted-fabric-1.20.1-3.0.6.jar
!.minecraft/mods/highlight-fabric-1.20-2.0.1.jar
!.minecraft/mods/Highlighter-1.20.1-fabric-1.1.9.jar
!.minecraft/mods/icarus-1.16.jar
!.minecraft/mods/Iceberg-1.20.1-fabric-1.1.18.jar
!.minecraft/mods/idwtialsimmoedm-0.2.0+1.20.jar
!.minecraft/mods/ImmediatelyFast-1.2.7+1.20.2.jar
!.minecraft/mods/immersive_armors-1.6.1+1.20.1-fabric.jar
!.minecraft/mods/immersive_melodies-0.1.0+1.20.1-fabric.jar
!.minecraft/mods/indium-1.0.27+mc1.20.1.jar
!.minecraft/mods/indrev-1.16.7-BETA.jar
!.minecraft/mods/InventorySorter-1.9.0-1.20.jar
!.minecraft/mods/invoke-0.2.0.jar
!.minecraft/mods/iris-flywheel-compat-1.20.1-0.2.1.jar
!.minecraft/mods/iris-mc1.20.1-1.6.10.jar
!.minecraft/mods/ironchests-5.0.2-fabric.jar
!.minecraft/mods/item-filters-fabric-2001.1.0-build.59.jar
!.minecraft/mods/ItemBorders-1.20.1-fabric-1.2.1.jar
!.minecraft/mods/ItemLocks-Fabric-1.20.1-1.3.6.jar
!.minecraft/mods/Item_Obliterator-Fabric_Quilt-1.20.1-2.2.1.jar
!.minecraft/mods/Jade-1.20-fabric-11.6.2.jar
!.minecraft/mods/jamlib-0.6.1+1.20.x.jar
!.minecraft/mods/Jewelry-1.2.2+1.20.1.jar
!.minecraft/mods/justhammers-fabric-2.0.3+mc1.20.1.jar
!.minecraft/mods/kibe-1.10.1-BETA+1.20.jar
!.minecraft/mods/kleeslabs-fabric-1.20-15.0.0.jar
!.minecraft/mods/konkrete_fabric_1.7.0-1_MC_1.20.1.jar
!.minecraft/mods/krypton-0.2.3.jar
!.minecraft/mods/kubejs-fabric-2001.6.5-build.14.jar
!.minecraft/mods/labels-1.20-1.20.2-fabric.jar
!.minecraft/mods/language-reload-1.5.10+1.20.1.jar
!.minecraft/mods/lazy-language-loader-0.3.3.jar
!.minecraft/mods/LeavesBeGone-v8.0.0-1.20.1-Fabric.jar
!.minecraft/mods/LegendaryTooltips-1.20.1-fabric-1.4.4.jar
!.minecraft/mods/letsdo-beachparty-fabric-1.1.3.jar
!.minecraft/mods/letsdo-brewery-fabric-1.1.4.jar
!.minecraft/mods/letsdo-herbalbrews-fabric-1.0.5.jar
!.minecraft/mods/letsdo-vinery-fabric-1.4.11.jar
!.minecraft/mods/libz-1.0.3.jar
!.minecraft/mods/lithium-fabric-mc1.20.1-0.11.2.jar
!.minecraft/mods/lmft-1.0.2+1.20-fabric.jar
!.minecraft/mods/loadmyresources_fabric_1.0.4-1_MC_1.20.jar
!.minecraft/mods/Log-Begone-Fabric-1.20.1-1.0.8.jar
!.minecraft/mods/lootintegrations-fabric-1.20.1-3.4.jar
!.minecraft/mods/lootr-fabric-1.20-0.7.33.81.jar
!.minecraft/mods/Luna-FABRIC-MC1.19.X-1.0.1.jar
!.minecraft/mods/MagnumTorch-v8.0.1-1.20.1-Fabric.jar
!.minecraft/mods/mavapi-1.1.3-mc1.20.1.jar
!.minecraft/mods/mavm-1.2.4-mc1.20.jar
!.minecraft/mods/mcda-5.0.1.jar
!.minecraft/mods/mcdw-8.1.0.jar
!.minecraft/mods/megacells-fabric-2.2.2-1.20.1.jar
!.minecraft/mods/melody_fabric_1.0.4_MC_1.20.1-1.20.4.jar
!.minecraft/mods/memoryleakfix-fabric-1.17+-1.1.2.jar
!.minecraft/mods/mes-1.3-1.19.4-fabric.jar
!.minecraft/mods/midnightlib-fabric-1.4.1.jar
!.minecraft/mods/MindfulDarkness-v8.0.2-1.20.1-Fabric.jar
!.minecraft/mods/minecells-1.8.2.jar
!.minecraft/mods/mixintrace-1.1.1+1.17.jar
!.minecraft/mods/Mmm_Indicators-MC1.20.1-1.0.0.jar
!.minecraft/mods/mobhealthbar-fabric-1.20.x-2.3.0.jar
!.minecraft/mods/Modern-Industrialization-1.8.4.jar
!.minecraft/mods/modernfix-fabric-5.11.0+mc1.20.1.jar
!.minecraft/mods/modmenu-2.0.17.jar
!.minecraft/mods/modmenu-7.2.1.jar
!.minecraft/mods/moonlight-1.20-2.11.12-fabric.jar
!.minecraft/mods/more-totems-mod-2.15.0.jar
!.minecraft/mods/moremobvariants-fabric+1.20-1.2.2.jar
!.minecraft/mods/more_armor_trims-fabric-1.20.1-1.1.3.jar
!.minecraft/mods/MouseTweaks-fabric-mc1.20-2.25.jar
!.minecraft/mods/MutantMonsters-v8.0.4-1.20.1-Fabric.jar
!.minecraft/mods/mvs-4.1.1-1.20-fabric.jar
!.minecraft/mods/mythic-mounts-1.20.1-7.2.jar
!.minecraft/mods/mythicmobs-1.20.1-fabric-1.4.5.jar
!.minecraft/mods/mythicupgrades-2.3.2+mc1.20.1.jar
!.minecraft/mods/Myths_and_Legends-1.5-HOTFIX-fabric.jar
!.minecraft/mods/naturalist-fabric-4.0.3-1.20.1.jar
!.minecraft/mods/NaturesCompass-1.20.1-2.2.3-fabric.jar
!.minecraft/mods/Necronomicon-Fabric-1.4.2.jar
!.minecraft/mods/nerb-1.20.1-0.3-FABRIC.jar
!.minecraft/mods/neruina-1.3.0-fabric+1.18.2-1.20.1.jar
!.minecraft/mods/NetherChested-v8.0.1-1.20.1-Fabric.jar
!.minecraft/mods/netherdepthsupgrade-fabric-3.1.1-1.20.jar
!.minecraft/mods/netherportalfix-fabric-1.20-13.0.0.jar
!.minecraft/mods/nicer-skies-1.3.0+1.20.1.jar
!.minecraft/mods/niftycarts-3.0.2+1.20.1.jar
!.minecraft/mods/NightConfigFixes-v8.0.0-1.20.1-Fabric.jar
!.minecraft/mods/NoChatReports-FABRIC-1.20.1-v2.2.2.jar
!.minecraft/mods/notenoughanimations-fabric-1.6.4-mc1.20.jar
!.minecraft/mods/Notes-1.20.1-2.1.0-fabric.jar
!.minecraft/mods/Obscure-API-16.jar
!.minecraft/mods/oceansdelight-fabric-1.0.2-1.20.jar
!.minecraft/mods/opac-fabric-create-support-mc1.20-1.6.0.jar
!.minecraft/mods/open-parties-and-claims-fabric-1.20.1-0.22.0.jar
!.minecraft/mods/openblockselevator-0.0.3-1.20.1.jar
!.minecraft/mods/OpenLoader-Fabric-1.20.1-19.0.3.jar
!.minecraft/mods/OverflowingBars-v8.0.0-1.20.1-Fabric.jar
!.minecraft/mods/owo-lib-0.11.2+1.20.jar
!.minecraft/mods/oxidized-1.8.2.jar
!.minecraft/mods/PacketFixer-fabric-1.2.1-1.20.1.jar
!.minecraft/mods/paladins-1.0.4+1.20.1.jar
!.minecraft/mods/Patchouli-1.20.1-84-FABRIC.jar
!.minecraft/mods/Pehkui-3.7.11+1.14.4-1.20.2.jar
!.minecraft/mods/Philips-Ruins1.20.1-2.6.jar
!.minecraft/mods/PickUpNotifier-v8.0.0-1.20.1-Fabric.jar
!.minecraft/mods/PigPen-Fabric-1.20.1-15.0.2.jar
!.minecraft/mods/Ping-Wheel-1.7.0-fabric-1.20.1.jar
!.minecraft/mods/player-animation-lib-fabric-1.0.2-rc1+1.20.jar
!.minecraft/mods/polyeng-fabric-0.1.0-1.20.1.jar
!.minecraft/mods/polymorph-fabric-0.49.1+1.20.1.jar
!.minecraft/mods/Powah-5.0.5.jar
!.minecraft/mods/PresenceFootsteps-1.9.0.jar
!.minecraft/mods/Prism-1.20.1-fabric-1.0.5.jar
!.minecraft/mods/projectile_damage-fabric-3.2.2+1.20.1.jar
!.minecraft/mods/promenade-4.1.1.jar
!.minecraft/mods/Prominent-GLOBAL-MC1.20.1-2.1.0hf.jar
!.minecraft/mods/Prominent_OST-GLOBAL-MC1.20.1-1.0.0.jar
!.minecraft/mods/Prominent_Talents-FABRIC-1.0.0.jar
!.minecraft/mods/Prominent_Talents-FABRIC-1.1.0.jar
!.minecraft/mods/Prominent_UI-1.0.0.jar
!.minecraft/mods/ProtectionBalancer-FABRIC-1.1.0.jar
!.minecraft/mods/providence-1.0.0.jar
!.minecraft/mods/puffish_attributes-0.5.0-1.20-fabric.jar
!.minecraft/mods/puffish_skills-0.13.2-1.20-fabric.jar
!.minecraft/mods/puzzle-1.5.2+1.20.jar
!.minecraft/mods/PuzzlesLib-v8.1.9-1.20.1-Fabric.jar
!.minecraft/mods/quartz-elevator-2.2.5+1.20.jar
!.minecraft/mods/rare-ice-0.6.0.jar
!.minecraft/mods/reacharound+1.20-1.1.2.jar
!.minecraft/mods/ReBalance-FABRIC-1.1.0.jar
!.minecraft/mods/RebornCore-5.8.7.jar
!.minecraft/mods/recipeessentials-fabric-1.20.1-3.1.jar
!.minecraft/mods/redirector-1.20.1-4.4.0-fabric.jar
!.minecraft/mods/reeses_sodium_options-1.6.5+mc1.20.1-build.95.jar
!.minecraft/mods/RegionsUnexploredFabric-0.5.5+1.20.1.jar
!.minecraft/mods/repurposed_structures-7.1.11+1.20.1-fabric.jar
!.minecraft/mods/resourcefulconfig-fabric-1.20.1-2.1.0.jar
!.minecraft/mods/resourcefullib-fabric-1.20.1-2.1.20.jar
!.minecraft/mods/ResourcePackOverrides-v8.0.2-1.20.1-Fabric.jar
!.minecraft/mods/revelationary-1.3.5+1.20.1.jar
!.minecraft/mods/rhino-fabric-2001.2.2-build.18.jar
!.minecraft/mods/riverredux-0.3.1.jar
!.minecraft/mods/Runelic-Fabric-1.20.1-18.0.2.jar
!.minecraft/mods/runes-fabric-0.9.10+1.20.1.jar
!.minecraft/mods/Searchables-fabric-1.20.1-1.0.2.jar
!.minecraft/mods/seasonhud-fabric-1.20.1-1.6.1.jar
!.minecraft/mods/ServerBrowser-1.20.1-FABRIC-1.2.0.jar
!.minecraft/mods/Shield_Overhaul-FABRIC-MC1.20.1-1.0.4.jar
!.minecraft/mods/ShoulderSurfing-Fabric-1.20.1-2.8.1.jar
!.minecraft/mods/ShowMeWhatYouGot-1.20-1.1.1.jar
!.minecraft/mods/SimpleRPC-fabric-1.20-3.2.4.jar
!.minecraft/mods/SimplyHouses-1.1.4-1.20.1-fabric.jar
!.minecraft/mods/simplyswords-fabric-1.54.0-1.20.1.jar
!.minecraft/mods/SkyVillages-1.0.3.2-1.19.2-1.20.1-fabric.jar
!.minecraft/mods/smallships-fabric-1.20.1-2.0.0-a2.3.3.jar
!.minecraft/mods/smoothchunk-fabric-1.20.1-3.5.jar
!.minecraft/mods/Sniffer+-fabric-1.20.1-0.2.0.jar
!.minecraft/mods/sodium-extra-0.5.1+mc1.20.1-build.112.jar
!.minecraft/mods/sodium-fabric-mc1.20.1-0.5.3.jar
!.minecraft/mods/soulslike-weaponry-1.1.3-1.20-fabric.jar
!.minecraft/mods/spark-1.10.53-fabric.jar
!.minecraft/mods/spellbladenext-1.7.2.1.jar
!.minecraft/mods/spell_engine-0.12.5+1.20.1.jar
!.minecraft/mods/spell_power-fabric-0.9.19+1.20.1.jar
!.minecraft/mods/StackDeobfuscatorFabric-1.4.1+03a1fe4.jar
!.minecraft/mods/starterkit-1.20.1-5.3.jar
!.minecraft/mods/Steam_Rails-1.6.4+fabric-mc1.20.1.jar
!.minecraft/mods/Stoneworks-v8.0.0-1.20.1-Fabric.jar
!.minecraft/mods/structureessentials-fabric-1.20.1-3.2.jar
!.minecraft/mods/structure_pool_api-1.0+1.20.1.jar
!.minecraft/mods/supplementaries-1.20-2.8.10-fabric.jar
!.minecraft/mods/swampier_swamps-1.20-4.0.0.jar
!.minecraft/mods/TechReborn-5.8.7.jar
!.minecraft/mods/TerraBlender-fabric-1.20.1-3.0.1.6.jar
!.minecraft/mods/thaumon-fabric-2.2.0+1.20.1.jar
!.minecraft/mods/thermoo-2.3.jar
!.minecraft/mods/the_bumblezone-7.2.10+1.20.1-fabric.jar
!.minecraft/mods/The_Graveyard_2.9.1_(FABRIC)_1.20+.jar
!.minecraft/mods/things-0.3.3+1.20.jar
!.minecraft/mods/Tierify-FABRIC-1.20.1-1.1.0.jar
!.minecraft/mods/TinySkeletons-v8.0.1-1.20.1-Fabric.jar
!.minecraft/mods/tlc-fabric-1.0.1-1.20.X.jar
!.minecraft/mods/toms_storage_fabric-1.20-1.6.5.jar
!.minecraft/mods/toofast-fabric-1.20-1.2.0.jar
!.minecraft/mods/Towns-and-Towers-1.11.1-Fabric+Forge.jar
!.minecraft/mods/TradingPost-v8.0.1-1.20.1-Fabric.jar
!.minecraft/mods/transmog-fabric-1.2.4+1.20.jar
!.minecraft/mods/transparent-fabric-8.0.1+1.20.1.jar
!.minecraft/mods/travelers-backpack-1.20.1-9.1.8.jar
!.minecraft/mods/TreeChop-1.20.1-fabric-0.18.3.jar
!.minecraft/mods/trinkets-3.7.1.jar
!.minecraft/mods/twigs-3.1.0-fabric.jar
!.minecraft/mods/unsafe-world-random-access-detector-1.1.0.jar
!.minecraft/mods/vcinteraction-1.20.1-1.0.5.jar
!.minecraft/mods/veinmining-fabric-1.3.1+1.20.1.jar
!.minecraft/mods/villagernames-1.20.1-7.0.jar
!.minecraft/mods/VillagersPlus_2.1_(FABRIC)_for_1.20.1.jar
!.minecraft/mods/visuality-0.7.1+1.20.jar
!.minecraft/mods/VisualWorkbench-v8.0.0-1.20.1-Fabric.jar
!.minecraft/mods/vivecraft-1.20.1-1.1.11-fabric.jar
!.minecraft/mods/voicechat-fabric-1.20.1-2.5.19.jar
!.minecraft/mods/VR-Combat_v1.0.2_Fabric_ALL.jar
!.minecraft/mods/watut-fabric-1.20.1-1.0.12.jar
!.minecraft/mods/windchimes-1.2.4+1.20.jar
!.minecraft/mods/winterly-0.9.3+1.20.jar
!.minecraft/mods/wizards-1.0.4+1.20.1.jar
!.minecraft/mods/wraith-waystones-3.1.3+mc1.20.jar
!.minecraft/mods/XaerosWorldMap_1.37.8_Fabric_1.20.jar
!.minecraft/mods/Xaeros_Minimap_23.9.3_Fabric_1.20.jar
!.minecraft/mods/xercamusic-fabric-1.20.1-1.0.1.jar
!.minecraft/mods/xercapaint-fabric-1.20.1-1.0.0.jar
!.minecraft/mods/xlpackets-1.0.4.jar
!.minecraft/mods/YeetusExperimentus-Fabric-2.3.1-build.6+mc1.20.1.jar
!.minecraft/mods/yet-another-config-lib-fabric-3.2.1+1.20.jar
!.minecraft/mods/yosbr-0.1.2.jar
!.minecraft/mods/youre-in-grave-danger-2.0.0-beta.7.jar
!.minecraft/mods/YSNS-Fabric_Quilt-1.0.5.jar
!.minecraft/mods/YungsApi-1.20-Fabric-4.0.2.jar
!.minecraft/mods/YungsBetterDesertTemples-1.20-Fabric-3.0.3.jar
!.minecraft/mods/YungsBetterDungeons-1.20-Fabric-4.0.3.jar
!.minecraft/mods/YungsBetterEndIsland-1.20-Fabric-2.0.4.jar
!.minecraft/mods/YungsBetterJungleTemples-1.20-Fabric-2.0.4.jar
!.minecraft/mods/YungsBetterMineshafts-1.20-Fabric-4.0.4.jar
!.minecraft/mods/YungsBetterNetherFortresses-1.20-Fabric-2.0.5.jar
!.minecraft/mods/YungsBetterOceanMonuments-1.20-Fabric-3.0.4.jar
!.minecraft/mods/YungsBetterStrongholds-1.20-Fabric-4.0.3.jar
!.minecraft/mods/YungsBetterWitchHuts-1.20-Fabric-3.0.3.jar
!.minecraft/mods/YungsBridges-1.20-Fabric-4.0.3.jar
!.minecraft/mods/zenith-1.1.9-1.20.1.jar
!.minecraft/mods/zenith_attributes-0.2.4.jar
!.minecraft/mods/Zoomify-2.11.2.jar


# Resourcepacks Folder
!.minecraft/resourcepacks/
.minecraft/resourcepacks/*

# Resourcepacks
!.minecraft/resourcepacks/backpacked_recipe_fix_datapack.zip
!.minecraft/resourcepacks/Enhanced_Boss_Bars.zip
!.minecraft/resourcepacks/GamerAxeRebalance.zip
!.minecraft/resourcepacks/HardeningCatalystRebalance.zip
!.minecraft/resourcepacks/HTP-Aether_redux-TranslationPack-v1.0.0.zip
!.minecraft/resourcepacks/HTP-Betterarcheology-TranslationPack-v1.0.0.zip
!.minecraft/resourcepacks/HTP-Deep_aether-TranslationPack-v1.0.0.zip
!.minecraft/resourcepacks/HTP-Invoke-TranslationPack-vunknown.zip
!.minecraft/resourcepacks/HTP-Minecells-TranslationPack-v1.0.0.zip
!.minecraft/resourcepacks/HTP-Spell_power-TranslationPack-vunknown.zip
!.minecraft/resourcepacks/Icons.zip
!.minecraft/resourcepacks/LessStructures-SpacingTweaks-1.20.1-2.1.56.zip
!.minecraft/resourcepacks/MandalasGUI+Modded_Dakmode_v4.5.zip
!.minecraft/resourcepacks/Mandalas_Legacy_Gui_Background.zip
!.minecraft/resourcepacks/NoBushyLeaves.zip
!.minecraft/resourcepacks/Providence_Pack/
!.minecraft/resourcepacks/Providence_Pack/*
!.minecraft/resourcepacks/Providence_Pack/**
!.minecraft/resourcepacks/Repurposed_Structures-Farmers_Delight_v6.zip
!.minecraft/resourcepacks/Repurposed_Structures-Friends_And_Foes_v5.zip
!.minecraft/resourcepacks/RunicGrimoireDisabler.zip
!.minecraft/resourcepacks/Scarecrow_Obliterator.zip
!.minecraft/resourcepacks/SkyVillages-FarmersDelightCompat-1.20.1-1.0.3.zip
!.minecraft/resourcepacks/SkyVillages-GraveyardCompat-1.20.1-1.0.3.zip
!.minecraft/resourcepacks/SkyVillages-SupplementariesCompat-1.20.1-1.0.3.1.zip
!.minecraft/resourcepacks/SkyVillages-WaystonesCompat-1.20.1-1.0.3-fabric.zip
!.minecraft/resourcepacks/TravelersComfortCompat.zip
!.minecraft/resourcepacks/WDA-NoFlyingStructures-1.18.2-1.19.2.zip


# Configs Folder
!.minecraft/config/
.minecraft/config/*

# Configs


# DefaultConfigs Folder
!.minecraft/defaultconfigs/
.minecraft/defaultconfigs/*

# DefaultConfigs
!.minecraft/defaultconfigs/barteringstation-server.toml
!.minecraft/defaultconfigs/comforts-server.toml
!.minecraft/defaultconfigs/create-server.toml
!.minecraft/defaultconfigs/createoreexcavation-server.toml
!.minecraft/defaultconfigs/easyanvils-server.toml
!.minecraft/defaultconfigs/openpartiesandclaims-server.toml
!.minecraft/defaultconfigs/pickupnotifier/
.minecraft/defaultconfigs/pickupnotifier/*
!.minecraft/defaultconfigs/pickupnotifier/pickupnotifier-server.toml
!.minecraft/defaultconfigs/puzzlesapi-iteminteractions-server.toml
!.minecraft/defaultconfigs/tradingpost-server.toml
!.minecraft/defaultconfigs/veinmining-server.toml


# Shaderpacks Folder
!.minecraft/shaderpacks/
.minecraft/shaderpacks/*

# Shaderpacks
!.minecraft/shaderpacks/ComplementaryReimagined_r5.1.1.zip
!.minecraft/shaderpacks/TheIdkShader_pleaseSendHelp.zip


